@ebdp-script:registry=https://artifactory.e-byte.cn/artifactory/api/npm/BDP-npm-rely-local/
@ebdp-config:registry=https://artifactory.e-byte.cn/artifactory/api/npm/BDP-npm-rely-local/
@ebdp-core:registry=https://artifactory.e-byte.cn/artifactory/api/npm/BDP-npm-rely-local/
@ebdp-plugin:registry=https://artifactory.e-byte.cn/artifactory/api/npm/BDP-npm-rely-local/
@ebdp-addon:registry=https://artifactory.e-byte.cn/artifactory/api/npm/BDP-npm-rely-local/
@ebdp:registry=https://artifactory.e-byte.cn/artifactory/api/npm/BDP-npm-rely-local/

always-auth=true
//artifactory.e-byte.cn/artifactory/api/npm/BDP-npm-rely-local/:_auth=YmlnZGF0YXBsYXRmb3JtOjFxYXohUUFa
